{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    #about-btn{
        height: 40px;
        width: 150px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
</style>

<div class="container">
   <div class="inner-content admin">
        <form enctype="multipart/form-data" action="{% url 'myadmin:change_aboutus' %}" method="post" id="newsdata_form" novalidate class = "m-input">
          <input type='hidden' name='csrfmiddlewaretoken' value='gXkhTULEDj3mYFmsizPopbbKU6BSMGLEDYvMMG1kxQMC8qDBKOXlDvQlxqE7rbGy'/>

            {% csrf_token %}
            <textarea name="text" required class="vLargeTextField" rows="10" cols="40" id="id_text">
               {% if info %}
               {{ info }}
               {% endif %}
            </textarea><br>
            <button type="submit" id="about-btn" class="btn btn-default" onclick="get_editor_content()">{% if info %}Изменить {% else %} Добавить {% endif%}</button>
        </form>
    </div>
 </div>
  <script>
  tinymce.init({
    selector: 'textarea',
    height: 400,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code'
    ],
    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
    content_css: [
      ]
  });
  </script>

  {% endblock %}
