{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
    #name{
        margin-bottom: 20px;
    }
    #photo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #add-member-btn{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    #name, #fb-inp{
        margin-bottom: 20px;
    }
</style>
<div class="container">
   <div class="inner-content add-member admin">
    <form enctype="multipart/form-data" action="{% url 'myadmin:team_add' %}" method="post" >
       <input type='hidden' name='csrfmiddlewaretoken' value='gXkhTULEDj3mYFmsizPopbbKU6BSMGLEDYvMMG1kxQMC8qDBKOXlDvQlxqE7rbGy' />
        {% csrf_token %}
        <input type="file" id="image" name="image" required />
      <button type="submit" id="add-member-btn" onclick="get_editor_content()" class="btn btn-default">Добавить</button>
    </form>
    </div>
</div>


  <script>
  tinymce.init({
    selector: 'textarea',
    height: 400,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code'
    ],
    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
    content_css: [
      ]
  });

  </script>
 <script>
    $("#image").change(function() {

        var val = $(this).val();

        switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
            case 'gif': case 'jpg': case 'png': case 'jpeg':
                $("#file-error").text("");
                break;
            default:
                $(this).val('');
                $("#file-error").text("Файл должен быть картинкой (.jpg .png .jpeg .gif) ");
                break;
        }

    });
</script>

  {% endblock %}
