{% load staticfiles %}

<script src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mainstyles.css' %}" rel="stylesheet">

<style>
    .navbar{
        margin-bottom: 0px;
    }
    .navbar-nav li {
	    margin-left: 7px;
	    margin-right: 7px;
    }
    #file-error{
        color: red;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'myadmin:about' %}">О нас<span class="sr-only">(current)</span>
            </a></li>
            <li><a href="{% url 'myadmin:news' %}">Новости</a></li>
            <li><a href="{% url 'myadmin:team' %}">Наша команда</a></li>
            <li><a href="{% url 'myadmin:reference' %}">СМИ о нас</a></li>
            <li><a href="{% url 'myadmin:partners' %}">Партнеры</a></li>
            <li><a href="{% url 'myadmin:contacts' %}">Контакты</a></li>
            <li><a href="{% url 'myadmin:users' %}">Пользователи</a></li>
            <li><a href="/admin/logout">Выйти</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
   $(document).ready(function() {
   $('li.active').removeClass('active');
   $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});
</script>
{% block body %}
{% endblock %}
