{% load staticfiles %}

<script src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mainstyles.css' %}" rel="stylesheet">

<style>
    .navbar{
        margin-bottom: 0px;
    }
    .navbar-nav li {
	    margin-left: 7px;
	    margin-right: 7px;
    }
    #file-error{
        color: red;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'myadmin:about' %}">О нас<span class="sr-only">(current)</span>
            </a></li>
            <li><a href="{% url 'myadmin:news' %}">Новости</a></li>
            <li><a href="{% url 'myadmin:team' %}">Наша команда</a></li>
            <li><a href="{% url 'myadmin:reference' %}">СМИ о нас</a></li>
            <li><a href="{% url 'myadmin:partners' %}">Партнеры</a></li>
            <li><a href="{% url 'myadmin:contacts' %}">Контакты</a></li>
            <li><a href="{% url 'myadmin:users' %}">Пользователи</a></li>
<!--            <li><a href="{% url 'myadmin:image' %}">Картинки для новостей</a></li>-->
            <li><a href="/admin/logout">Выйти</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
   $(document).ready(function() {
   $('li.active').removeClass('active');
   $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});

tinymce.init({
  height: 500,
  selector: 'textarea',
  plugins: [
 'advlist autolink lists link image charmap print preview anchor',
 'searchreplace visualblocks code fullscreen',
 'insertdatetime media table contextmenu paste code',
'image code'
   ],
toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
// enable title field in the Image dialog
image_title: true,
// enable automatic uploads of images represented by blob or data URIs
automatic_uploads: false,
// URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
images_upload_url: 'admin/upload',
// here we add custom filepicker only to Image dialog
file_picker_types: 'image',
// and here's our custom image picker
file_picker_callback: function(cb, value, meta) {
  var input = document.createElement('input');
  input.setAttribute('type', 'file');
  input.setAttribute('accept', 'image/*');

  // Note: In modern browsers input[type="file"] is functional without
  // even adding it to the DOM, but that might not be the case in some older
  // or quirky browsers like IE, so you might want to add it to the DOM
  // just in case, and visually hide it. And do not forget do remove it
  // once you do not need it anymore.

  input.onchange = function() {
    var file = this.files[0];
    var img_url;
    var fd = new FormData();
    fd.append("file", file);
    fd.append("csrfmiddlewaretoken", document.getElementsByName('csrfmiddlewaretoken')[0].value);

    $.ajax({url: '/admin/upload/',
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (data) {
                console.log("siucccess");
                console.log(data)
                img_url = data;
                $("#mceu_59-inp").val(img_url)
            },
            error: function (data){
              console.log("error");
              console.log(data)
            }
          })

    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function () {
      // Note: Now we need to register the blob in TinyMCEs image blob
      // registry. In the next release this part hopefully won't be
      // necessary, as we are looking to handle it internally.
      var id = 'blobid' + (new Date()).getTime();
      var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
      var base64 = reader.result.split(',')[1];
      var blobInfo = blobCache.create(id, file, base64);
      blobCache.add(blobInfo);

      // call the callback and populate the Title field with the file name
        blobInfo.blobUri(img_url);
      cb(blobInfo.blobUri(), { title: file.name });
      //$("#mceu_59-inp").val(img_url);
     //$( ".mce-container mce-panel mce-floatpanel mce-window mce-in .mce-textbox:first" ).val(img_url);
    };
  };

  input.click();
}
});

</script>
{% block body %}
{% endblock %}
