{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    #add-news{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 12px;
        font-size: 17px;
    }
    h3{
        padding-bottom: 5px;
        border-bottom: 1px solid red;
        margin-bottom: 20px;
    }
    .table-hover tbody tr:hover td {
        background-color: #eaeaea;
    }
    table input{
        height: 20px;
        width: 20px;
    }
    .inner-content{
        padding: 20px;
    }
</style>

<div class="container">
   {% csrf_token %}
   <div class="inner-content admin">
    <a id = "add-news" href="{% url 'myadmin:news_add' %}" type="submit" class="btn btn-default">Добавить Новость</a>
    <form enctype="multipart/form-data" action="{% url 'myadmin:news_admin_search' %}" method="post">
    {% csrf_token %}
      <div class="input-group">
         <input type="text" class="form-control" name="search_input" placeholder="Search for...">
         <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Искать</button>
      </div>
      </span>
    </form>
    <h3>Список новостей</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Картинка</th>
            <th>Дата</th>
            <th>Заголовок</th>
            <th>Деятельность</th>
            <th>Мониторинг</th>
            <th>Слайдер</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           {% for each in news %}
            {# Each "contact" is a Contact model object. #}
            <tr>
                <td><img src="{{ each.img_url }}" alt="" width = "80px" height="50px"></td>
                <td>{{ each.pub_date | date:"d/m/Y" }}</td>
                <td>{{ each.title }}</td>
                <td><input class="filters" name="activ" id="{{ each.pk }}" type="checkbox" {% if each.activity %} checked {% endif %}></td>
                <td><input class="filters" name="monitor" id="{{ each.pk }}" type="checkbox" {% if each.monitoring %} checked {% endif %}></td>
                <td><input class="filters" name="slider" id="{{ each.pk }}" type="checkbox" {% if each.slider  %} checked {% endif %}></td>
                <td><a href="{% url 'myadmin:news_update' each.pk  %}" type="submit" class="btn btn-default">Изменить</a></td>
                <td><a type="submit" class="btn btn-default" data-toggle="modal" data-target="#Confirm{{ each.pk }}">Удалить</a></td>
            </tr>



            <div id="Confirm{{ each.pk }}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h3>Вы уверены?</h3>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'myadmin:news_delete' each.pk  %}" type="submit" class="btn btn-default" >Да</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>


            {% endfor %}
        </tbody>
      </table>

<nav class="pagination-nav">
  <ul class="pagination justify-content-center">
   {% if news.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ news.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}


<!--
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
-->

    {% if news.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>




<script>
$(document).on('click', '.filters', function (e){
  var main_this = this;
  console.log('filters/'+main_this.name);
  $.ajax({url: '../filters/'+main_this.name,
          type: "POST",
          data: {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            id: this.id,
          },
          success: function (data) {
              console.log("siucccess");
              main_this.checked = main_this.checked ? false : true;
          },
          error: function (data){
            console.log(data)
          }
        })

        return false;
      }


  )

</script>
{% endblock %}
