{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}


<style>
    #photo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #news-title{
        margin-bottom: 20px;
        width: 100%;
    }
    #add-news{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
    #date-inp{
        margin-left: 0px;
        width: 300px;
        margin-bottom: 20px;
    }
    .checkbox-inline{
        margin-right: 20px;
    }
    .checkbox-inline input{
        width: 15px;
        height: 15px;
    }
    .chek{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>
<div class="container">
   <div class="inner-content admin">
   <form enctype="multipart/form-data" action="{% url 'myadmin:news_add' %}" method="post" id="add-news-form">
        {% csrf_token %}
        <input type="file" id="photo" name="photo" required />
        <div id="file-error"></div>
        <label for="#date-inp">Дата</label>
        <input type="date" class="form-control" name="date" id="date-inp" required>
        <label for="#title">Заголовок</label>
        <input type="text" class="form-control" name="title" id="news-title" required>


        <div class="chek">
            <label class="checkbox-inline"><input name="activ" type="checkbox" >Деятельность</label>
            <label class="checkbox-inline"><input name="monitor" type="checkbox" >Мониторинг</label>
            <label class="checkbox-inline"><input name="slider" type="checkbox" >Слайдер</label>
        </div>
      <textarea name="text" rows="10" cols="40" id="editor"></textarea>
      <button id="add-news" type="submit" class="btn btn-default"> Добавить </button>
    </form>
    </div>
</div>


  <script>
  tinymce.init({
  selector: '#editor',
  plugins: 'image code',
  toolbar: 'undo redo | link image | code',
  // enable title field in the Image dialog
  image_title: true,
  // enable automatic uploads of images represented by blob or data URIs
  automatic_uploads: true,
  // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
  images_upload_url: 'admin/upload',
  // here we add custom filepicker only to Image dialog
  file_picker_types: 'image',
  // and here's our custom image picker
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    // Note: In modern browsers input[type="file"] is functional without
    // even adding it to the DOM, but that might not be the case in some older
    // or quirky browsers like IE, so you might want to add it to the DOM
    // just in case, and visually hide it. And do not forget do remove it
    // once you do not need it anymore.

    input.onchange = function() {
      var file = this.files[0];

      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function () {
        // Note: Now we need to register the blob in TinyMCEs image blob
        // registry. In the next release this part hopefully won't be
        // necessary, as we are looking to handle it internally.
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
      };
    };

    input.click();
  }
});
  </script>

  <script>
    $("#photo").change(function() {

        var val = $(this).val();

        switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
            case 'gif': case 'jpg': case 'png': case 'jpeg':
                $("#file-error").text("");
                break;
            default:
                $(this).val('');
                $("#file-error").text("Файл должен быть картинкой (.jpg .png .jpeg .gif) ");
                break;
        }

    });
</script>

  {% endblock %}
