{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    #add-partner{
        width: 200px;
        height: 50px;
        padding-top: 12px;
        font-size: 17px;
    }
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
</style>
<div class="container">
   <div class="inner-content admin">
    <a id = "add-partner" href="{% url 'myadmin:partners_add' %}" type="submit" class="btn btn-default">Добавить Партнера</a>
    <h3>Список Партнеров</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Миниатюра</th>
            <th>Название</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           {% for each in partners %}
            <tr>
                <td><img src="{{ each.img_url}}" width = "80px" height="50px"></td>
                <td> {{ each.name }}</td>
                <td><a href="{% url 'myadmin:partners_update' each.pk  %}" type="submit" class="btn btn-default">Изменить</a></td>
                <td> <a type="submit" class="btn btn-default" data-toggle="modal" data-target="#Confirm{{ each.pk }}">Удалить</a></td>
            </tr>

            <div id="Confirm{{ each.pk }}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h3>Вы уверены?</h3>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'myadmin:partners_delete' each.pk  %}" type="submit" class="btn btn-default" >Да</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
        </tbody>
      </table>



<script>
</script>
{% endblock %}
