{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}
 <style>
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
     #ref-title, #link, #source, #date-inp{
         margin-bottom: 20px;
     }
    #add-ref{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
</style>
  <div class="container">
   <div class="inner-content admin">

    <form enctype="multipart/form-data" action="{% url 'myadmin:reference_add_save'%}" method="post">
       <input type='hidden' name='csrfmiddlewaretoken' value='' />
        {% csrf_token %}
        <label for="#title">Заголовок</label>
        <input type="text" class="form-control" name="title" id="ref-title" required>
        <label for="#date-inp">Дата</label>
        <input type="date" class="form-control" name="date" id="date-inp" required>
        <label for="#link">Ссылка</label>
        <input type="text" class="form-control" name="link" id="link" value="" required>
        <label for="#source">Источник</label>
        <input type="text" class="form-control" name="source" required id="source" value="">
      <button id="add-ref" type="submit" class="btn btn-default"> Добавить </button>
    </form>

{% endblock %}
