{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}
 <style>
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
     #ref-title, #link, #source, #date-inp{
         margin-bottom: 20px;
     }
    #update-ref{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
</style>
  <div class="container">
   <div class="inner-content admin">

    <form enctype="multipart/form-data" action="{% url 'myadmin:reference_update_save' ref.pk %}" method="post">
        <input type='hidden' name='csrfmiddlewaretoken' value='' />
        {% csrf_token %}
        <label for="#title">Заголовок</label>
        <input type="text" class="form-control" name="title" required id="ref-title" value="{{ ref.title }}">
        <label for="#date-inp">Дата</label>
        <input type="date" class="form-control" name="date" required id="date-inp" value="{{ ref.pub_date | date:"Y-m-d"}}">
        <label for="#link">Ссылка</label>
        <input type="text" class="form-control" name="link" required id="link" value="{{ ref.link }}">
        <label for="#source">Источник</label>
        <input type="text" class="form-control" name="source" required id="source" value="{{ ref.source }}">
      <button id="update-ref" type="submit" class="btn btn-default"> Изменить </button>
    </form>

{% endblock %}
