{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}
<style>
    .inner-content input{
        margin-bottom: 20px;
    }
    #news-title{
        margin-bottom: 20px;
    }
    #member-update{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
    .inner-content img{
        height: 150px;
        width: auto;
        margin-bottom: 20px;
        display: block;
    }
</style>

{% if member %}

<div class="container">
   <div class="inner-content admin">
   <form enctype="multipart/form-data" action="{% url 'myadmin:team_change' member.pk  %}" method="post">
   <img id="img" name="photo" src="{{ member.photo_url }}">
  <input type='hidden' name='csrfmiddlewaretoken' value='gXkhTULEDj3mYFmsizPopbbKU6BSMGLEDYvMMG1kxQMC8qDBKOXlDvQlxqE7rbGy' />
    {% csrf_token %}
        <input type='hidden'  name='id' id="id" value='{{ member.pk }}' />
        <label for="#photo">Фотография</label>
        <input type="file" name="photo" id="photo">
        <div id="file-error"></div>
        <label for="#name">Имя</label>
        <input type="text" class="form-control" name="name" required id="name" value="{{ member.name }}">
        <label for="#fb"> Ссылка на страницу в Facebook </label>
        <label for="#num"> Порядковый номер в списке </label>
        <input type="text" class="form-control" required name="num" id="num"/>
        <input type="text" class="form-control" name="fb" required id="fb-inp" value="{{ member.fb }}"/>
        <label for="descrip">Описание</label>
        <textarea name="descrip" rows="10" cols="40" id="descrip"> {% autoescape off %}  {{ member.descrip }} {% endautoescape %}</textarea>
      <button id="member-update" type="submit" class="btn btn-default"> Изменить </button>
    </form>
    </div>
</div>

  {% else  %}
{% endif %}


    <script>
    $("#photo").change(function() {

        var val = $(this).val();

        switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
            case 'gif': case 'jpg': case 'png': case 'jpeg':
                $("#file-error").text("");
                break;
            default:
                $(this).val('');
                $("#file-error").text("Файл должен быть картинкой (.jpg .png .jpeg .gif) ");
                break;
        }

    });
</script>

  {% endblock %}
