{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}
<style>
    .inner-content input{
        margin-bottom: 20px;
    }
    #news-title{
        margin-bottom: 20px;
    }
    #member-update{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
    .inner-content img{
        height: 150px;
        width: auto;
        margin-bottom: 20px;
        display: block;
    }
</style>

{% if member %}

<div class="container">
   <div class="inner-content admin">
   <form enctype="multipart/form-data" action="{% url 'myadmin:team_change' member.pk  %}" method="post">
   <img id="img" name="photo" src="{{ member.photo_url }}">
  <input type='hidden' name='csrfmiddlewaretoken' value='gXkhTULEDj3mYFmsizPopbbKU6BSMGLEDYvMMG1kxQMC8qDBKOXlDvQlxqE7rbGy' />
    {% csrf_token %}
        <input type='hidden'  name='id' id="id" value='{{ member.pk }}' />
        <label for="#photo">Фотография</label>
        <input type="file" name="photo" id="photo">
        <div id="file-error"></div>
        <label for="#name">Имя</label>
        <input type="text" class="form-control" name="name" required id="name" value="{{ member.name }}">
        <label for="#fb"> Ссылка на страницу в Facebook </label>
        <input type="text" class="form-control" name="fb" required id="fb-inp"/>
        <label for="descrip">Описание</label>
        <textarea name="descrip" rows="10" cols="40" id="descrip"> {% autoescape off %}  {{ member.descrip }} {% endautoescape %}</textarea>
      <button id="member-update" type="submit" class="btn btn-default"> Изменить </button>
    </form>
    </div>
</div>

  {% else  %}
{% endif %}

 <script>
   tinymce.init({
    selector: 'textarea',
    height: 400,
    menubar: false,
  toolbar: 'undo redo | link image | code',
   plugins: [
  'advlist autolink lists link image charmap print preview anchor',
  'searchreplace visualblocks code fullscreen',
  'insertdatetime media table contextmenu paste code',
 'image code'
    ],
    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
  // enable title field in the Image dialog
  image_title: true,
  // enable automatic uploads of images represented by blob or data URIs
  automatic_uploads: false,
  // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
  images_upload_url: 'admin/upload',
  // here we add custom filepicker only to Image dialog
  file_picker_types: 'image',
  // and here's our custom image picker
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    // Note: In modern browsers input[type="file"] is functional without
    // even adding it to the DOM, but that might not be the case in some older
    // or quirky browsers like IE, so you might want to add it to the DOM
    // just in case, and visually hide it. And do not forget do remove it
    // once you do not need it anymore.

    input.onchange = function() {
      var file = this.files[0];
      var img_url;
      var fd = new FormData();
      fd.append("file", file);
      fd.append("csrfmiddlewaretoken", document.getElementsByName('csrfmiddlewaretoken')[0].value);

      $.ajax({url: '/admin/upload/',
              type: "POST",
              data: fd,
              processData: false,
              contentType: false,
              enctype: 'multipart/form-data',
              success: function (data) {
                  console.log("siucccess");
                  console.log(data)
                  img_url = data;
                  $("#mceu_24-inp").val(img_url)
              },
              error: function (data){
                console.log("error");
                console.log(data)
              }
            })

      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function () {
        // Note: Now we need to register the blob in TinyMCEs image blob
        // registry. In the next release this part hopefully won't be
        // necessary, as we are looking to handle it internally.
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
        $("#mceu_24-inp").val(img_url)
      };
    };

    input.click();
  }
});

  </script>
  
    <script>
    $("#photo").change(function() {

        var val = $(this).val();

        switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
            case 'gif': case 'jpg': case 'png': case 'jpeg':
                $("#file-error").text("");
                break;
            default:
                $(this).val('');
                $("#file-error").text("Файл должен быть картинкой (.jpg .png .jpeg .gif) ");
                break;
        }

    });
</script>

  {% endblock %}
