{% extends 'navbar.html' %}
{% load staticfiles %}

{% block body %}

<style>
    .inner-content{
        overflow: hidden;
        padding: 20px;
    }
    #name{
        margin-bottom: 20px;
    }
    #photo{
        margin-bottom: 20px;
    }
    #add-member-btn{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        font-size: 17px;
        float: right;
    }
    #name, #fb-inp{
        margin-bottom: 20px;
    }
</style>
<div class="container">
   <div class="inner-content add-member admin">
    <form enctype="multipart/form-data" action="{% url 'myadmin:team_add' %}" method="post" >
       <input type='hidden' name='csrfmiddlewaretoken' value='gXkhTULEDj3mYFmsizPopbbKU6BSMGLEDYvMMG1kxQMC8qDBKOXlDvQlxqE7rbGy' />
        {% csrf_token %}
        <label for="#photo">Фотография</label>
        <input type="file" id="photo" name="photo" required />
        <div id="file-error"></div>
        <label for="#name">Имя</label>
        <input type="text" class="form-control" required name="name" id="name"/>
        <label for="#fb"> Ссылка на страницу в Facebook </label>
        <input type="text" class="form-control" required name="fb" id="fb-inp"/>
        <label for="#num"> Порядковый номер в списке </label>
        <input type="text" class="form-control" required name="num" id="num"/>
        <label for="#descrip">Описание</label>
      <textarea name="descrip" id="descrip"></textarea>
      <button type="submit" id="add-member-btn"onclick="get_editor_content()" class="btn btn-default">Добавить</button>
    </form>
    </div>
</div>



 <script>
    $("#photo").change(function() {

        var val = $(this).val();

        switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
            case 'gif': case 'jpg': case 'png': case 'jpeg':
                $("#file-error").text("");
                break;
            default:
                $(this).val('');
                $("#file-error").text("Файл должен быть картинкой (.jpg .png .jpeg .gif) ");
                break;
        }

    });
</script>

  {% endblock %}
