{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}

    {% if contacts %}

		<div class="inner-content">
				<div class="phone">
								<div class="x"></div>
								Телефон: <a href="#">{{ contacts.number }}</a>
				</div>
				<div class="mail">
								<div class="x"></div>
								Email: <a href="#">{{ contacts.email }}</a>
				</div>
				<div class="mail">
								<div class="x"></div>
								Адрес: <a href="#">{{ contacts.address }}</a>
				</div>
		</div>


    {% endif %}

{% endblock %}
