{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}
        <div class="row">
          <h2 class="content-title">Поддержать нашу деятельность</h2>
           <div class="x">
            <div class="inner-content shadow">
                 <div class="inner-donate">
                     <a id = "donate" type="button" class="btn btn-default ">
                        <img src="{% static '/images/heart.png' %}" alt="">
                        Поддержать
                     </a>
                 </div>
                <div class="text">
                    <p>Если вы считаете деятельность «Восточной правозащитной группы» полезной и необходимой – вы можете поддержать нас. Мы благодарны за любую поддержку. <br><br>
                        «Восточная правозащитная группа» занимается активной правозащитной деятельностью с начала вооруженного конфликта на востоке Украины в 2014 году. За это время активистам организации удалость достичь реальных результатов. Члены команды принимали участие в оказании гуманитарной помощи жителям Дебальцево во время боевых действий в начале 2015 года, после чего организовывали эвакуацию жителей на украинскую территорию. Добились выплаты зарплат работникам больницы города Светлодарска в полном объеме. В 2016 года благодаря проведенному мониторингу состояния прав человека в местах лишения свободы на оккупированных территориях Луганской области удалось освободить заключенного, незаконно удерживаемого под стражей властями так называемой «ЛНР» на оккупированной территории. Больше о деятельности организации и наших результатах можно узнать <a href="{% url 'mynews:activity' %}">тут</a> и <a href="{% url 'mynews:monitoring' %}">тут</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
