{% extends 'index.html' %}
{% load staticfiles %}

{% block body %}
        <div class="row">
          <h2 class="content-title">{{ news_detail.title }}</h2>
           <div class="x">
            <div class="inner-content shadow">
                <img id= "news-m-img"src="{{ news_detail.img_url }}" alt="">
                <div class="text" id ="text">
                   <style>
                       .text p > img, .text p > iframe{
                            width: 100%;
                            height: auto;
                        }
                    </style>
                    <p> {% autoescape off %} {{ news_detail.text }} {% endautoescape %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
